.roboto-light {
  font-weight: 300;
}

.roboto-regular {
  font-weight: 400;
}

.roboto-medium {
  font-weight: 500;
}

.roboto-bold {
  font-weight: 700;
}

.hyperlink {
  text-decoration: none;
  color: #000000 !important;
  padding-right: 32px;
}
.hyperlink:hover {
  color: #03d98b !important;
}

.container {
  padding: 90px 60px;
}

.project-img:hover {
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.1);
}

.about-summary {
  padding-top: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3 {
  margin-bottom: 80px;
}
